{% extends "pages/base_admin.html" %}

{% block admincontent %}
<div>
    <nav>
        <a href="/admin/productsgroups" class="btn btn-primary">Назад к группам</a>
    {% if current_user.is_authenticated %}
    <a href="/admin/add-product/{{productgroup.id}}" class="btn btn-primary">Добавить товар</a>
    {% endif %}
    </nav>

</div>
<br>
<div>
    <table>
        <tr>
            <th>Фото</th>
            <th>Название Группы</th>
            <th>Цвет</th>
            <th>Стоимость</th>
            <th>Скидка</th>
            <th>Удалить</th>
            <th>Редактировать</th>
        </tr>
        {% for product in productgroup.products %}
        <tr>

            <input type="text" value="{{ product.title }}" name="productRemTitle" style="display: none">
            <td id="imgTd">
                {% if product.img%}
                <img src="/static/img/products/{{product.img[0]}}" class="admin-img-delete"
                     alt="404 картинка не нашлась(">
                {%else%}
                <img class="admin-img-delete" src="/static/img/products/none.jpg"
                     alt="404 картинка не нашлась("/>
                {%endif%}
            </td>
            <td>{{ product.product_group.title }}</td>
            <td>{{ product.color }}</td>
            <td>{{ product.cost }}₽</td>
            <td>{{ product.sale }}₽</td>
            <td>
                <button type="submit" onclick="show_me({{product.id}}, 'products');" class="delete-button">
                    <!--                        <img-->
                    <!--                            src="{{ url_for('static', filename='../static/img/system/admin_del_item.png') }}"-->
                    <!--                            style="width: 5vh; height: 5vh; border-radius: 20px;"></button>-->
                </button>
            </td>
            <td>
                <a href="/admin/edit-product/{{product.id}}/{{productgroup.id}}" class="btn btn-secondary">редактировать товар</a>
            </td>
        </tr>
        {% endfor %}
    </table>
</div>
{% endblock %}