{% extends "pages/base_admin.html" %}

{% block admincontent %}
<div>
    {% if current_user.is_authenticated %}
    <a href="/admin/add-productgroup" class="btn btn-primary">Добавить товар</a>
    {% endif %}
</div>
<br>
<div>
    <table>
        <tr>
            <th>Название</th>
            <th>Удалить</th>
            <th>Редактировать</th>
            <th>Цвета</th>
        </tr>
        {% for productgroup in productgroups %}
        <tr>
            <td>{{ productgroup.title }}</td>
            <td>
                <button type="submit" onclick="show_me({{productgroup.id}}, 'productgroup');" class="delete-button">
                    <!--                        <img-->
                    <!--                            src="{{ url_for('static', filename='../static/img/system/admin_del_item.png') }}"-->
                    <!--                            style="width: 5vh; height: 5vh; border-radius: 20px;"></button>-->
                </button>
            </td>
            <td>
                <a href="/admin/edit-productgroup/{{productgroup.id}}" class="btn btn-secondary">редактировать товар</a>
            </td>
            <td>
                <a href="/admin/products-productgroup/{{productgroup.id}}" class="btn btn-primary">Цвета</a>
            </td>
        </tr>
        {% endfor %}
    </table>
</div>
{% endblock %}