{% extends "base.html" %}

{% block content %}
<h1>Добавление продукта</h1>
<form action="" method="post" enctype="multipart/form-data">
    {{ form.hidden_tag() }}
    <div>
        {{ form.csrf_token }}
    </div>
    {% for field in form if field.name not in ['csrf_token', 'submit',   'img'] %}
    <div>
        {{ field.label() }}
        {{ field(class="form-control")}}
        {% for error in field.errors %}
        <div class="error">{{ error }}</div>
        {% endfor %}
    </div>
    {% endfor %}
    <br>
<!--    <input type="file" id="img" name="file" accept="image/*" class="btn btn-primary mb-3" required>-->
<!--    <p><input type="submit" value="Подтвердить" class="btn btn-primary mb-3"></p>-->
<!--    {{ form.img.label() }}-->
        {{ form.img(class="btn btn-primary mb-3")}}
    <br>
    <p>{{ form.submit(type="submit", class="btn btn-primary") }}</p>
<!--    {{message}}-->
</form>
{% endblock %}

