{% extends "base.html" %}

{% block content %}
<nav class="navbar navbar-light bg-light title-width">
    <div align="left">
        <h1>Товарчики</h1>
    </div>
    <div align="right">
        <form method="POST">
            <input type="text" id="text" name="text" class="form-control" align="left"/>
            <input type="submit" value="Поиск" class="btn btn-primary" align="right"/>
        </form>

    </div>
    <div align="right">
        <a href="/basket">
            <div class="basket-button"></div>
        </a>
    </div>
</nav>
<nav class="navbar navbar-light bg-light title-width">
    <div align="right">
        {% for type in types %}
        <a href="#{{type.title}}" class="btn btn-success">{{type.title}}</a>
        {% endfor %}
    </div>
</nav>

{% for type in types %}
<div id="{{type.title}}"></div>
<div class="menu">
    {% for group_product in type.products %}
    {% for product in group_product.products %}
    {% include 'includes/product.html' %}
    {% endfor %}
    {% endfor %}
</div>

{% endfor %}

{% endblock %}