{% extends "base.html" %}

{% block content %}
<nav class="navbar navbar-light bg-light title-width">
    <div align="left">
        <h1>Товарчики</h1>
    </div>
    <div align="right">
        <form method="POST">
            <nav>
                <input type="text" id="text" name="text" class="form-control" align="left" value="{{text}}"/>
                <input type="submit" value="Поиск" class="btn btn-primary" align="right"/>
            </nav>
        </form>

    </div>
    <div align="right">
        <a href="/basket">
            <div class="basket-button"></div>
        </a>
    </div>
</nav>
<nav class="navbar navbar-light bg-light title-width">
    <div align="right">
        {% for type in types %}
        <a href="#{{type.title}}" class="btn btn-success">{{type.title}}</a>
        {% endfor %}
    </div>
</nav>
<div class="main-sidebar">
    <div class="sidebar">
        <label class="form-label">Цена</label>
        <form method="POST">
            <label class="form-label">От</label>
            <input type="text" id="min_cost" name="min_cost" class="form-control"/>
            <label class="form-label">До</label>
            <input type="text" id="max_cost" name="max_cost" class="form-control"/>
            <input type="submit" value="Показать" class="btn btn-primary"/>
        </form>
    </div>
    <div class="menu">
        {% for product in products %}
        {% include 'includes/product.html' %}
        {% endfor %}
    </div>
</div>
{% endblock %}