html {
    --firstly-color: white;
    --secondary-color: rgba(91, 82, 212, 0.837);
    --thirdly-color: rgb(99, 96, 105);
    --fourly-color: rgb(144, 182, 242);
    --black: rgb(35, 35, 35);
    --dark-blue: #12191D;
    --white: #FFFFFF;
    --green: #33FF00;
    --caribbean: #00E197;
    --light-green: #8EEF8C;
    --turquoise: #12EEFF;
    --pink: #F053D5;
    --red: #FE785A;
    --gray-900: #0C1114;
    --gray-700: #242A2C;
    --gray-650: #495257;
    --gray-600: #424B4F;
    --gray-500: #495257;
    --gray-300: #8D979E;
    --gray-200: #ACB4B9;
    --gray-150: #AEB6BB;
    --gray-100: #EEF1F3;
    --gray-50: #F6F8F9;
}
h4{
  padding-left: 20px;

  color: #aaaaaa;
}
.admin-img-delete:hover {
    transform: scale(1.5);
    transition: 0.25s;
}

.admin-img-delete {
    width: 10vh;
    height: 10vh;
    border-radius: 20px;
    object-fit: cover;
    margin-top: 2vh;
}

.admin-img-grid {
    display: flex;
    justify-content: start;
    flex-wrap: wrap;
}
.delete-button {
    width: 4vh;
    height: 4vh;
    border: none;
    background-image: url('../img/system/admin_del_item.png');
    background-size: cover;
    margin: 5px 5px;
}
.basket-button {
    width: 3vh;
    height: 3vh;
    border: none;
    background-image: url('../img/system/cart_icon.png');
    background-size: cover;
    margin: 5px 5px;
}
.icon::before{
  content: url("../img/icon.png");
  margin-down: 5px;

  position: relative;
  float: left;

}

.main-navigation {
  line-height: 20px;
}

thead {
    background : #aaaaaa;
}

table {
    border-collapse: collapse;
    border: 2px solid rgb(200, 200, 200);
    letter-spacing: 1px;
}
td,
th {
    border: 1px solid rgb(190, 190, 190);
    padding: 10px 20px;
}
.menu {
    display: flex;
    justify-content: space-around;
    align-items: flex-start;
    flex-wrap: wrap;
    padding: 5vh;
    padding-top: 0;
}


.menu-item {
    width: 30vh;
    height: 30vh;
    margin: 10px 5px;
    text-align: center;
    background-color: var(--thirdly-color);
    position: relative;
    /* transition: 0.75s; */
    border-radius: 20px;
    flex-basis: content;
}
/*
.menu-item:hover {
    transform: scale(1.25);
    transition: 0.75s;
}



}

.menu-item-title {
    position: absolute;
    top: 5%;
    left: 5%;
    font-size: 18px;
    color: white;
    margin: 0;
}

.menu-item-description,
.menu-item-price {
    position: absolute;
    left: 5%;
    font-size: 14px;
    color: white;
    margin: 10px 0;
}
*/
.menu-item-image {
    width: 30vh;
    height: 30vh;
    border-radius: 20px;
    object-fit: contain;
   }
.text-shadow {
    background-color: rgba(0, 0, 0, 0.70);
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 30%;
    border-radius: 10% 10% 0 0;
}

.menu-item-text {
    background-color: black;
}

.menu-item-price {
    top: 11%;
}

.menu-item-description {
    top: 17.5%;
}

.add-to-cart-btn-plus {
    padding: 9px 13.5px;
    position: absolute;
    top: 20px;
    right: 20px;
    font-size: 20px;
    background-color: rgba(0, 0, 0, 0);
    color: var(--fourly-color);
    border: solid;
    border-radius: 10px;
    border-color: var(--fourly-color);
    cursor: pointer;
    transition: background-color 0.3s;
}
.add-to-cart-plus{
    position: absolute;
    top: 20px;
    right: 20px;
}
.number-cart-product{
    color: var(--pink);
    position: absolute;
    top: 20px;
    right: 70px;
}
.remove-from-cart-minus{
    position: absolute;
    top: 20px;
    right: 80px;
}
.delete-cart-button {
    width: 3vh;
    height: 3vh;
    border: none;
    background-image: url('../img/system/admin_del_item.png');
    background-size: cover;
    margin: 5px 5px;
    position: absolute;
    top: 60px;
    right: 20px;

}

footer {
    clear: both;
    padding: 0;
    background: var(--black);
    color: #FFFFFF;
    overflow: hidden;
    min-width: 100;
}
#wrapwrap > * {
    -webkit-box-flex: 0;
    -webkit-flex: 0 0 auto;
    flex: 0 0 auto;
}
.o_cc3, .o_footer {
    background-color: var(--black);
    color: #212529;
}
/*
article, aside, figcaption, figure, footer, header, hgroup, main, nav, section {
    display: block;
}
*/
.row {
    display: -webkit-box;
    display: -webkit-flex;
    display: flex;
    -webkit-flex-wrap: wrap;
    flex-wrap: wrap;
    margin-right: -8px;
    margin-left: -8px;
}


.hr-left {
    position: relative;
}
.hr-left:before {
    content: '';
    border-left: 1px solid var(--gray-500);
    position: absolute;
    top: -6px;
    left: -24px;
    width: 1px;
    height: 32px;
}

.font-color--white {
    color: #FFFFFF !important;
}
.font-color--gray-300 {
    color: var(--gray-300);
}


.mb-4, .my-4 {
    margin-bottom: 1.5rem;
  }

.container {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  min-width: 98vw;
  justify-content: space-evenly;
}

main {
  flex: 1;
  max-width: 98vw;
  justify-content: center;
  display: block;
     margin: 0 auto;
     text-align: left;
}
.title-width{
min-width: 85vw;
/*
display: block;
justify-content: center;
*/
}
.form-width{
min-width: 50vw;
display: block;
justify-content: center;
}
.form-scale{
  flex: 1;
  max-width: 98vw;
  justify-content: center;
  display: block;
     margin: 0 auto;
     text-align: left;
}
.main-sidebar{
    width: 100vw;
    height: 100vh;
    margin: auto;
    display:grid;
    grid-template-columns: 100px 1fr;
    gap:10;
    grid-auto-flow: column;
}
.sidebar{

}

body {
     margin: 0;
     padding: 0;
     text-align: center;
}

.show-product{
    width: 90vw;
    height: 90vh;
    margin: auto;
    display: grid;
    grid-template-columns: auto auto;
    grid-template-rows: 50px auto;
    gap:10;
    grid-auto-flow: column;
}
.show-product-title{
  grid-column: 1 / -1;
  grid-row: 1;
  margin-right:auto;
  margin-left:auto;
}

.show-product-img-place {
  grid-column: 1;
  grid-row: 2;
  width: 50vh;
  height: 50vh;
  background-color: var(--thirdly-color);
  border-radius: 20px;
  margin-right:auto;
  margin-left:auto;
 }

.show-product-img {
  height: 50vh;
  border-radius: 20px;
  object-fit: cover;
}

.show-product-text-place{
    display: grid;
    grid-template-rows: 10vh 20vh auto;
    gap:10;
}
.show-product-sub{
    display: grid;
    grid-template-columns: 5vw 5vw;
    gap:10;
    grid-auto-flow: column;
}
.show-product-colors{
    display: grid;
    gap:10px;
    grid-auto-flow: column;
    justify-items: start;
}
.show-product-little-img{
  height: 10vh;
  border-radius: 5px;
  object-fit: cover;
}
.show-product-description{
max-width: 30vw;
}