a {
color:#537CBC;
text-decoration:none;
}
.product {
  border-top: 2px solid rgb(233 171 88);
  border-bottom: 2px solid rgb(233 171 88);
  display: grid;
  grid-template-columns: repeat(15, 1fr);
  grid-template-rows: repeat(3, 1fr);
  gap: 10px;
  grid-auto-rows: 1fr;
   /*background-color: rgb(171 233 88 / 50%);*/
}
.product > div {
  /*background-color: rgb(233 171 88 / 50%);*/
  padding: 1em;
  color: #d9480f;
}

.product-img-place {
  grid-column: 1 / 4;
  grid-row: 1 / 4;
  width: 30vh;
  height: 30vh;
 }
.product-img {
  height: 25vh;
  border-radius: 20px;
  object-fit: cover;
}
.product-description {
  grid-column: 4 / 11;
  grid-row: 1 / 4;
}
.product-description-title{
    font-size: 3rem;
    font-family: cursive;
    color: rgb(10 88 10);
    text-align: left;
}
.product-description-description{
    font-family: cursive;
    color: #537CBC;
    text-align: left;
}
.product-description-color{
    font-family: cursive;
    color: rgb(10 10 10);
    text-align: left;
}

.product-no-title{
    color: rgb(1 1 1);
}
.product-buttons {
  grid-column: 11 / 15;
  grid-row: 1 / 4;
}
.product-button-plus {
  grid-column: 12 / 15;
  grid-row: 1 / 2;
}

/*
.wrapper {
  max-width: 940px;
  margin: 0 auto;
}

.wrapper > div {
  border: 2px solid rgb(233 171 88);
  border-radius: 5px;
  background-color: rgb(233 171 88 / 50%);
  padding: 1em;
  color: #d9480f;
}
*/