h4{
  padding-left: 20px;

  color: #aaaaaa;
}
.admin-img-delete:hover {
    transform: scale(1.5);
    transition: 0.25s;
}

.admin-img-delete {
    width: 10vh;
    height: 10vh;
    border-radius: 20px;
    object-fit: cover;
    margin-top: 2vh;
}

.admin-img-grid {
    display: flex;
    justify-content: start;
    flex-wrap: wrap;
}
.delete-button {
    width: 4vh;
    height: 4vh;
    border: none;
    background-image: url('../img/system/admin_del_item.png');
    background-size: cover;
    margin: 5px 5px;
}
.icon::before{
  content: url("../img/icon.png");
  margin-down: 5px;

  position: relative;
  float: left;

}

.main-navigation {
  line-height: 20px;
}

thead {
    background : #aaaaaa;
}

table {
    border-collapse: collapse;
    border: 2px solid rgb(200, 200, 200);
    letter-spacing: 1px;
}
td,
th {
    border: 1px solid rgb(190, 190, 190);
    padding: 10px 20px;
}
.menu {
    display: flex;
    justify-content: space-around;
    align-items: flex-start;
    flex-wrap: wrap;
    padding: 5vh;
    padding-top: 0;
}


.menu-item {
    width: 30vh;
    margin: 20px 5px;
    text-align: center;
    background-color: var(--thirdly-color);
    position: relative;
    transition: 0.75s;
    border-radius: 20px;
}

.menu-item:hover {
    transform: scale(1.25);
    transition: 0.75s;
}

.menu-item-image {
    width: 30vh;
    height: 30vh;
    border-radius: 20px;
    object-fit: cover;

}

.menu-item-title {
    position: absolute;
    top: 5%;
    left: 5%;
    font-size: 18px;
    color: white;
    margin: 0;
}

.menu-item-description,
.menu-item-price {
    position: absolute;
    left: 5%;
    font-size: 14px;
    color: white;
    margin: 10px 0;
}

.text-shadow {
    background-color: rgba(0, 0, 0, 0.70);
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 30%;
    border-radius: 10% 10% 0 0;
}

.menu-item-text {
    background-color: black;
}

.menu-item-price {
    top: 11%;
}

.menu-item-description {
    top: 17.5%;
}

.add-to-cart-btn-plus {
    padding: 9px 13.5px;
    position: absolute;
    top: 20px;
    right: 20px;
    font-size: 20px;
    background-color: rgba(0, 0, 0, 0);
    color: var(--fourly-color);
    border: solid;
    border-radius: 10px;
    border-color: var(--fourly-color);
    cursor: pointer;
    transition: background-color 0.3s;
}
